body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    margin: 20px;
    padding: 20px;
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
